/* index.html Stylesheet */

h1 {
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.link {
    font-size: 50px;
}

.home-image {
    height: auto;
    width: 400px;
    display: block;
}

.tteok-link {
    background-color: red;
    color: white;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

.alfredo-link {
    background-color: yellow;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.joy-link {
    background-color: orange;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* General Recipe Page Stylesheets */

h2 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid gold 5px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

h3 {
    font-size: 30px;
    font-family: "Verdana", Tahoma

}
li {
    font-size: 25px;
}

/* Unique Recipe Page Stylesheets */

.tteok-title {
    background-color: red;
    color: white;
    display: inline-block;
    text-align: center;
}

.tteok-p {
    font-size: 24px;
    border: 10px dotted red;
    padding: 5px;
}

.lpalfredo-title {
    background-color: yellow;
    color:black;
    display: inline-block;
}

.lpalfredo-p {
    font-size: 24px;
    border: 10px dotted yellow;
    padding: 5px;
}

.joy-title {
    background-color: orange;
    color: black;
    display: inline-block;
}

.joy-p {
    font-size: 24px;
    border: 10px dotted orange;
    padding: 5px;
}